#menu {
    background-color: var(--cor-acizentada);
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    max-height: 5.9rem;
}

#menu .menu {
    display: none;
    align-self: flex-end;
    width: 60px;
    height: 60px;
}

#menu nav label {
    display: flex;
    flex-direction: column;
}

#menu .hamburguer {
    background-color: var(--cor-laranja);
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.2s ease-in-out;
}

#menu .hamburguer:before,
#menu .hamburguer:after {
    background-color: var(--cor-laranja);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

#menu .hamburguer:before {
    top: -10px;
}

#menu .hamburguer:after{
    bottom: -10px;
}

#menu input {
    display: none;
}

#menu input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

#menu input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

#menu input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#menu ul li a {
    padding: 20px;
    border-radius: 75px;
}

#menu ul li a:nth-child(2){
    background-color: var(--cor-laranja);
}

#menu ul li a:hover {
    color: var(--cor-laranja);
}

@media(max-width: 900px){
    #menu .menu {
        display: block;
    }

    #menu nav ul {
        display: none;
    }

    #menu input:checked ~ ul {
        display: block;
    }

    #menu nav {
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
        right: 20px;
    }

    #menu nav ul {
        width: 200px;
        background-color: var(--cor-acizentada);
        padding: 5px;
        background-color: var(--cor-laranja);
    }

    #menu nav ul a{
        text-align: center;
        padding: 20px;
        display: block;
    }

    #menu nav ul li:nth-child(1){
        background-image: url('../images/sejaveteranumenu.png');
    }
    #menu nav ul li:nth-child(2){
        background-image: url('../images/jogoabertomenu.png');
    }
    #menu nav ul li:nth-child(3){
        background-image: url('../images/agendamento-menu.png');
    }

    #menu nav ul li:nth-child(4) {
        background-color: var(--cor-laranja);
        border: 3px solid var(--cor-acizentada);
    }

    #menu nav ul li:nth-child(4) a {
        color: var(--cor-acizentada);
    }
}

/* SEJA VETERANO */
#seja-veterano {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: url(../images/sejaveteranowpp.png) center/cover no-repeat;
}

#seja-veterano .container-veterano {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20.5rem;
    height: 30.25rem;
    border: 1px solid var(--cor-laranja);
    border-radius: 4.7rem;
    padding-inline: 1rem;
    background-color:var(--cor-acizentada);
}

#seja-veterano .info, .preco span {
    font-size: 2rem;
    color: var(--cor-laranja);
}

#seja-veterano .preco span:nth-child(1) {
    font-size: 3rem;
}

#seja-veterano .preco p {
    font-size: 4rem;
}

/* JOGOS ABERTOS */

#jogos-abertos {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    background: url(../images/jogoabertowpp.png) center/cover no-repeat;
}

#jogos-abertos .conteudo-jogos-abertos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#jogos-abertos .container-jogos-abertos {
    width: 20.5rem;
    height: 15.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--cor-laranja);
    border-radius: 4.7rem;
    background-color: var(--cor-acizentada);
}

#jogos-abertos .container-jogos-abertos p {
    font-size: 3rem;
    margin-bottom: -0.7rem;
}

#jogos-abertos .container-jogos-abertos span {
    font-size: 2rem;
    color: var(--cor-laranja);
}

/* JOGO ABERTO */
#agendamento {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: url(../images/agendamentowpp.png) center/cover no-repeat;
}

#agendamento .conteudo-agendamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#agendamento .container-agendamento {
    width: 20.5rem;
    height: 15.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid var(--cor-laranja);
    border-radius: 4.7rem;
    background-color: var(--cor-acizentada);
}

#agendamento .container-agendamento p:hover{
    color: var(--cor-laranja);
}

#agendamento h3 {
    color: var(--cor-laranja);
    font-size: 2rem;
}

#agendamento p {
    font-size: 1.2rem;
}

#agendamento a {
    background-color: var(--cor-laranja);
    color: var(--cor-acizentada);
    padding: 1.2rem 1.6rem;
    border-radius: 4.7rem;
    margin-top: 5px;
}

#rodape {
    background-color: var(--cor-acizentada);
}

#rodape .container-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid var(--cor-laranja);
}

#rodape .logo, #rodape .endereco, #rodape .contato, #rodape .navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#rodape a:hover, #rodape p:hover {
    color: var(--cor-laranja);
}

#rodape .logo, #rodape .endereco, #rodape .contato {
    border-bottom: 1px solid var(--cor-laranja);
}

#rodape .endereco a img{
    border-radius: 4.7rem;
}

section {
    padding: 50px;
}

.titulo {
    color: var(--cor-laranja);
    font-size: 3rem;
}


@media(min-width: 768px) {
    #seja-veterano .container-veterano {
        width: 40.5rem;
        height: 20.25rem;
        flex-direction: row;
        justify-content: space-between;
    }

    #jogos-abertos .conteudo-jogos-abertos {
        flex-direction: row;
    }

    #agendamento .container-agendamento {
        width: 30.5rem;
        height: 20.5rem;
    }

    #agendamento h3 {
        font-size: 3rem;
    }
    
    #agendamento p {
        font-size: 2rem;
    }
    
    #agendamento a {
        padding: 1.3rem 2rem;
        border-radius: 4.7rem;
        font-size: 2rem;
    }

    #rodape .logo, #rodape .endereco, #rodape .contato, #rodape .navegacao {
        font-size: 1.4rem;
        gap: 0.7rem;
    }
}

@media (min-width: 992px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .carrossel{
        display: flex;
        transition: 500ms linear; 
    }
    
    .imagem {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .imagem a img {
        border: 1px solid #ff7300;
    }
    
    .imagem span {
        color: #ff7300;
        font-size: 25px;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #000;
    }
    
    .imagem:hover {
        transform: scale(1.05,  1.05);
        transition: 300ms linear;
    }
    
    /* ARRUMAR JAVASCRIPT */
    .link-ativo {
        color:#fff;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 115, 0, 0.00) 67.71%, #FF7300 100%);
    }
    
    .backGround1 {
        background: url(../images/sejaveteranowpp.png) center/cover no-repeat;
    }
    
    .backGround2 {
        background: url(../images/jogoabertowpp.png) center/cover no-repeat;
    }
    
    .backGround3 {
        background: url(../images/agendamentowpp.png) center/cover no-repeat;
    }
    
    .backGround4 {
        background: url(../images/contatowpp.png) center/cover no-repeat;
    }
    
    #seja-veterano, #jogos-abertos, #agendamento {
        height: 100vh;
    }

    #seja-veterano .container-veterano {
        width: 65.5rem;
        height: 37.25rem;
    }

    #seja-veterano .info, .preco span {
        font-size: 3rem;
        color: var(--cor-laranja);
    }
    
    #seja-veterano .preco span:nth-child(1) {
        font-size: 4rem;
    }
    
    #seja-veterano .preco p {
        font-size: 7rem;
    }

    #jogos-abertos .container-jogos-abertos {
        width: 36.5rem;
        height: 37.25rem;
    }

    #jogos-abertos .container-jogos-abertos p {
        font-size: 5rem;
        color: var(--cor-laranja);
    }
    
    #jogos-abertos .container-jogos-abertos span {
        font-size: 3.2rem;
        color: var(--cor-branca);
    }


    #agendamento .conteudo-agendamento {
        flex-direction: row;
    }

    #agendamento .container-agendamento {
        width: 36.5rem;
        height: 37.25rem;
    }

    #agendamento h3 {
        font-size: 4rem;
    }
    
    #agendamento p {
        font-size: 2.5rem;
    }
    
    #agendamento a {
        padding: 1.3rem 2rem;
        border-radius: 4.7rem;
        font-size: 2rem;
        margin-top: 5px;
        border: 1px solid var(--cor-laranja);
    }

    #agendamento a:hover {
        border: 1px solid var(--cor-laranja);
        background-color: var(--cor-acizentada);
        color: var(--cor-branca);
    }

    #rodape .container-rodape {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    #rodape .logo, #rodape .endereco, #rodape .contato, #rodape .navegacao {
        font-size: 1.4rem;
        gap: 0.7rem;
    }

    #rodape .logo, #rodape .endereco, #rodape .contato {
        /* border-right: 1px solid var(--cor-laranja); */
        border-bottom: 0;
    }

    .titulo {
        color: var(--cor-laranja);
        font-size: 5rem;
    }
}